<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H2>
        Hola, esta es mi plantilla!!
    </H2>
    {{nombre}}
    <br>
    {% if nombre != apellido %}
        {{"El nombre no coincide con el apellido"}}
    {% endif %}
    <br>
    {% for valor in lista %}
        {{valor}}
    {% endfor %}
</body>
</html>